#navigation {
  width: 100%;
  height: 300px;
  position: relative;
  z-index: 5;
}
#navigation ul {
  list-style: none;
  width: 100%;
  margin: 0;
}
#navigation ul li {
  display: inline-block;
}
#navigation ul li a {
  display: inline-block;
  letter-spacing: 5px;
  padding: 2px 10px 2px 15px;
  color: #55555a;
  transition: 0.2s ease-in-out;
}
#navigation ul li a:hover {
  color: #6e6e75;
}
#navigation ul li.active {
  font-weight: 500;
}
#navigation ul li.active a {
  color: #ca2247;
  border: 3px solid #ca2247;
  border-radius: 0 20px;
  box-shadow: 0 0 0 3px #19191b;
  position: relative;
  cursor: default;
}
#navigation ul li.active a:before {
  position: absolute;
  content: "";
  height: calc(100% + 6px);
  width: calc(100% + 6px);
  border: 3px solid #ca2247;
  left: -3px;
  top: -3px;
  z-index: -1;
}
#navigation ul li + li:before {
  content: "+";
  margin: 0 10px;
  color: #f3f1f5;
  font-weight: 500;
  pointer-events: none;
}

#mobile-navigation {
  height: 100px;
}

#logo-simple {
  fill: #f3f1f5;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#page {
  background-color: #f3f1f5;
  width: 100%;
  padding: 0 35px;
  height: 1200px;
}
#page div[id^="section"] {
  width: 100%;
}
#page #section-welcome {
  height: 100px;
  line-height: 100px;
}

#footer {
  height: 100px;
  color: #55555a;
  margin-bottom: 50px;
}
#footer p {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1024px) {
  #footer p {
    text-align: center;
  }
}
#footer ul {
  list-style: none;
  margin: 0;
  height: 100%;
}
@media (max-width: 1024px) {
  #footer ul {
    display: none;
  }
}
#footer ul:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#footer ul li {
  display: inline;
}
#footer ul li a {
  color: #55555a;
  transition: 0.2s ease-in-out;
}
#footer ul li a:hover {
  color: #6e6e75;
}
#footer ul li.active > a {
  color: #ca2247;
  cursor: default;
  font-weight: 500;
}
#footer ul li + li {
  margin-left: 20px;
}
#footer ul li#back-to-top > a {
  display: inline-block;
  padding: 2px 20px;
  color: #55555a;
  font-weight: 500;
  border: 3px solid #55555a;
  box-shadow: 0 0 0 3px #19191b;
  border-radius: 0 0 20px 0;
  position: relative;
  transition: 0.2s ease-out;
}
#footer ul li#back-to-top > a i {
  position: relative;
  top: 0;
  transition: top 0.2s ease-out 0.1s;
}
#footer ul li#back-to-top > a:before {
  position: absolute;
  content: "";
  height: calc(100% + 6px);
  width: calc(100% + 6px);
  border: 3px solid #55555a;
  left: -3px;
  top: -3px;
  z-index: -1;
  transition: 0.2s ease-out;
}
#footer ul li#back-to-top > a:hover {
  border-color: #ca2247;
  color: #ca2247;
}
#footer ul li#back-to-top > a:hover i {
  top: -5px;
}
#footer ul li#back-to-top > a:hover:before {
  border-color: #ca2247;
}

body {
  background-color: #19191b;
  font-family: Montserrat;
  font-weight: 100;
  color: #19191b;
}
